{% extends "templates/web.html" %}

{% block title %}
  {{ doc.project_name }}
{% endblock %}

{% block head_include %}
  <link rel="stylesheet" href="/assets/frappe/css/font-awesome.css">
{% endblock %}

{% block header %}
  <h1>{{ doc.project_name }}</h1>
{% endblock %}

{% block style %}
  <style>
    {
      % include "templates/includes/projects.css"%
    }
  </style>
{% endblock %}

{% block page_content %}

  <h5>Licence Plate: <span>{{ doc.licence_plate }}</span></h5>

  <h5>Type of Intervention: <span>{{ doc.type_of_intervention }}</span></h5>

  <spam id="tasklist_project_id" style="display: none;">{{ doc.tasklist_project_id }}</spam>

  <div class="website-list">
    <div class="result">
      <div class="web-list-item transaction-list-item">
        <div class="row">
          <h3 class="col-xs-4">Tasks</h3>
          <h3 class="col-xs-4">Start Date</h3>
          <h3 class="col-xs-4">End Date</h3>
        </div>
      </div>
      <div id="task-listings" class="web-list-item transaction-list-item">
        
      </div>
      
    </div>
  </div>

  <p id="no-tasks-message" class="font-weight-bold" style="display: none;">{{ _("No Tasks") }}</p>


</div>

<script>
  { % include "frappe/public/js/frappe/provide.js" %
  } { % include "frappe/public/js/frappe/form/formatters.js" %
  }
</script>

<script>
  var host = window.location.hostname;

  const tasksTable = document.getElementById("task-listings");
  const tasklistProjectId = document.getElementById("tasklist_project_id").innerHTML; 

  function createRow() {
    let row = document.createElement("div");
    row.className = "row mt-5";
    tasksTable.appendChild(row);

    return row;
  }

  function createTableElement(row, value) {
    let col = document.createElement("div");
    col.className = "col-xs-4";
    col.innerHTML = value;

    row.appendChild(col);
  }

  function fetchTasksFromTasklist() {
    fetch("http://" + host + ":5000/api/Tasks/" + tasklistProjectId + "/History")
            .then(response => response.json())
            .then(data => { 
              let tasks = data;

              if(tasks == []) {
                document.getElementById("no-tasks-message").style = "";
                return;

              } else {
                return tasks.map(task => {
                let row = createRow();
                createTableElement(row, task.activityName);
                createTableElement(row, task.startTime);
                createTableElement(row, task.completionTime);
              });
              }
            });
  }

  // on page load, load the first stream available in the list
  window.addEventListener('load', fetchTasksFromTasklist());

</script>

{% endblock %}
